body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #86b6f6;
}

header,
footer {
  background-color: #176b87;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#content {
  flex: 2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

article {
  margin-bottom: 40px;
}

article .image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

article p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

article ul {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

article li {
  margin-bottom: 5px;
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #176b87;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside article header p {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
}
